*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
background: #0061de;
}
.rasm img{
    padding-left: 150px;
    margin-top: 30px;
}
.header h1{
    margin-top: -90px;
    text-align: center;
    color: #ffff;
    font-size: 25px;
    padding-left: 900px;
}
.header h2{
    margin-top: -28px;
    text-align: center;
    color: #ffff;
    font-size: 25px;
    padding-left: 1100px;
}
.header h3{
    margin-top: -30px;
    text-align: center;
    color: #ffff;
    font-size: 25px;
    padding-left: 1360px;
}
.header h4{
    margin-top: -28px;
    text-align: center;
    color: #ffff;
    font-size: 25px;
    padding-left: 1650px;
}
.header h5{
    margin-top: -29px;
    text-align: center;
    color: #ffff;
    font-size: 25px;
    padding-left: 1890px;
}
.box h1{
    color: #ffff;
    font-size: 4em;
    margin-top: 200px;
    padding-left: 150px;
}
.box h2{
    width: 800px;
    color: #ffff;
    margin-left: 150px;
}
.box button{
    padding: 13px 40px;
    border-radius: 50px;
    margin-left: 141px;
    margin-top: 20px;
}
.rasmlar img{
    padding-left: 1300px;
    margin-top: -430px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li img{
    max-width: 40px;
}
.thumb li:hover{
    transform: translateY(-15px);
}